POSTGRES_DB=mini_packages
POSTGRES_USER=mini_packages
POSTGRES_PASSWORD=mini_packages
DB_PUBLIC_PORT=55432
DATABASE_URL=postgres://mini_packages:mini_packages@db:5432/mini_packages

API_PORT=3333
WEB_PUBLIC_PORT=5173

REGISTRY_PUBLIC_URL=http://localhost:3333
BOOTSTRAP_ADMIN_TOKEN=dev-bootstrap-admin-token
TOKEN_PEPPER=dev-token-pepper-change-me

S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=mini-packages
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_FORCE_PATH_STYLE=true

WEB_API_BASE_URL=http://api:3333

